body, html{
	height: 100%;
}
.background{
  background-image: url("Pictures/bank.jpg");
  height: 50%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}